<footer>
  <div class="footerclass">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
    </div>
    <ul class="social_media">
      <li>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
      </li>
      <li>
        <a href="#"><ion-icon name="mail-open-outline"></ion-icon></a>
      </li>
    </ul>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/cs">CS</a></li>
      <li><a href="/wie">WIE</a></li>
      <li><a href="/sps">SPS</a></li>
      <li><a href="">RA</a></li>
      <!--<li><a href="CS_E.html">CS E</a></li>
        <li><a href="CS_M.html">CS M</a></li>
        <li><a href="WIE_E.html">WIE E</a></li>
        <li><a href="WIE_M.html">WIE M</a></li>-->
    </ul>
    <p>
      Copyright ©
      <script>
        var CurrentYear = new Date().getFullYear();
        document.write(CurrentYear);
      </script>
    </p>
  </div>
</footer>
