<div class="evconatiner">
  <div class="navbar">
    <a href="ieee.html">
      <img src="images/ieee-potrait logo.svg" class="EVlogo" />
    </a>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/cs">CS</a></li>
        <li><a href="/wie">WIE</a></li>
        <li><a href="/sp">SPS</a></li>
        <li><a href="">RA</a></li>
        <!--<li><a href="CS_E.html">CS E</a></li>
            <li><a href="CS_M.html">CS M</a></li>
            <li><a href="WIE_E.html">WIE E</a></li>
            <li><a href="WIE_M.html">WIE M</a></li>-->
      </ul>
    </nav>
  </div>
</div>
