<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="shortcut icon"
      href="/images/ieee-potrait logo.svg"
      type="image/x-icon"
    />
    <title>IEEE IARE Members</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="images/ieee-potrait logo.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <%- include ("../views/partials/header") %>
    <div class="MemContainer">
      <div class="Members2">
        <div class="membersheading">Members</div>
      </div>
      <div class="memberstitle">IEEE SB</div>
      <div class="Members">
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/anirudh.jpg" alt="member" />
          <div class="details">
            <a href="mailto:19951A0524@iare.ac.in" target="_blank"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">K Anirudh</div>
              <div class="rollno">19951A0524</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/srikruthi.jpg" alt="member" />
          <div class="details">
            <a href="mailto:19951A0535@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">A Srikruthi</div>
              <div class="rollno">19951A0545</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Joint
            Secretary<span class="material-icons-outlined"> star </span>
          </div>
          <img src="/images/avinash.jpg" alt="member" />
          <div class="details">
            <a href="mailto:19951A0535@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">V Avinash</div>
              <div class="rollno">19951A0535</div>
            </div>
            <a href="http://" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="memberstitle">IEEE CS</div>
      <div class="Members">
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/Srilekha.jpg" alt="member" />
          <div class="details">
            <a href="mailto:19951A05K7@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">G Srilekha</div>
              <div class="rollno">19951A05K7</div>
            </div>
            <a
              href="https://www.linkedin.com/in/gangam-srilekha-7b88a01a5"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/nayan.jpg" alt="member" />
          <div class="details">
            <a href="mailto:19951A05A8@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">M Nayan</div>
              <div class="rollno">19951A05A8</div>
            </div>
            <a
              href="https://www.linkedin.com/in/nayan-mr-46380822b"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice
            President<span class="material-icons-outlined"> star </span>
          </div>
          <img src="/images/Vyshnavi.jpeg" alt="member" />
          <div class="details">
            <a href="mailto:19951A05P6@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">T Vyshnavi</div>
              <div class="rollno">19951A05P6</div>
            </div>
            <a
              href="https://www.linkedin.com/in/vyshnavi-tallam-0b009b1a7/"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="memberstitle">IEEE WIE</div>
      <div class="Members">
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/Rahimunisa.jpg" alt="member" />
          <div class="details">
            <a href="mailto:19951A0538@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">Rahimunisa</div>
              <div class="rollno">19951A0538</div>
            </div>
            <a
              href="https://www.linkedin.com/in/rahimunisa-begum-00b1a920a"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/deepthi.jpeg" alt="member" />
          <div class="details">
            <a href="mailto:19951A0547@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">N Deepthi</div>
              <div class="rollno">19951A0547</div>
            </div>
            <a
              href="https://www.linkedin.com/in/deepthi-nasika-8842a420a"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice
            President<span class="material-icons-outlined"> star </span>
          </div>
          <img src="/images/Sri Krithi.jpg" alt="member" />
          <div class="details">
            <a href="mailto:19951A05J9@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">A Sri Krithi</div>
              <div class="rollno">19951A05J9</div>
            </div>
            <a
              href="https://www.linkedin.com/in/sri-krithi-bb1457215/"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="memberstitle">IEEE SPS</div>
      <div class="Members">
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/BHAVAJEET.jpeg" alt="member" />
          <div class="details">
            <a href="mailto:20951A0427@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">K Bhavajeet</div>
              <div class="rollno">20951A0427</div>
            </div>
            <a
              href="https://www.linkedin.com/in/kadiyam-bhavajeet-48b36b169"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/BHANU.jpeg" alt="member" />
          <div class="details">
            <a href="mailto:20951A0423@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">K Bhanu Prakash</div>
              <div class="rollno">20951A0423</div>
            </div>
            <a
              href="https://www.linkedin.com/in/kusa-bhanu-prakash-419814227"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Treasurer<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/BHAGYAVANTH.jpeg" alt="member" />
          <div class="details">
            <a href="mailto:21955A0403@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">V Bhagyavanth</div>
              <div class="rollno">21955A0403</div>
            </div>
            <a
              href="https://www.linkedin.com/in/bhagyavanth-varadha-85826522b"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="memberstitle">IEEE RA</div>
      <div class="Members">
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/IEEE RA Chair.jpg" alt="member" />
          <div class="details">
            <a href="mailto:20952A0437@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">K Chidananda</div>
              <div class="rollno">20952A0437</div>
            </div>
            <a
              href="https://www.linkedin.com/in/chidananda-kumar-85622022b"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Vice Chair<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/IEEE RA Vice Chair.jpg" alt="member" />
          <div class="details">
            <a href="mailto:20951A0437@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">M Avinash</div>
              <div class="rollno">20951A0437</div>
            </div>
            <a
              href="https://www.linkedin.com/in/mood-avinash-a3b878201"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="Member">
          <div class="role">
            <span class="material-icons-outlined"> star </span>Treasurer<span
              class="material-icons-outlined"
            >
              star
            </span>
          </div>
          <img src="/images/IEEE RA Treasurer.jpg" alt="member" />
          <div class="details">
            <a href="mailto:20951A0419@iare.ac.in"
              ><i class="fab fa-google"></i
            ></a>
            <div class="topdetails">
              <div class="name">B Arshitha</div>
              <div class="rollno">20951A0419</div>
            </div>
            <a
              href="https://www.linkedin.com/mwlite/in/arshitha-reddy-487682218"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <%- include ("../views/partials/footer") %>
  </body>
</html>
